:root {
  --button-background: #065d93;
  --modal-background: lightgray;
  --modal-container: ;
}
html {
  height: 100%;
  width: 100%;
}
body {
  height: 100;
  width: 100%;
  background-color: #59b7d6;
  font-family: Arial, Helvetica, sans-serif;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}
.navbar {
  background-color: lightslategray;
}
h1 {
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
h1.page-title {
  margin-top: 100px;
  font-size: 60px;
}
.button-class {
  background-color: var(--button-background);
  border: 3px outset black;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  margin: 4px 2px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  width: 80%;
  border-radius: 5px;
  flex: auto;
}
.button-class:active {
  opacity: 80%;
}
.button-class:hover {
  opacity: 80%;
}
ul.list-group-horizontal {
  list-style: none;
  column-count: 5;
}
#loading-message {
  text-align: center;
  font-style: italic;
}
#modal-container {
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);

  z-index: 999;

  overflow: auto;
  display: none;
  text-align: center;
}

#modal-container.show-modal {
  display: block;
}
p.modal-item {
  text-align: center;
}
.modal-content {
  background-color: lightgray;
  border: black 3px outset;
}
.modal-header {
  background-color: #065d93;
  color: white;
}
.modal-footer {
  display: flex;
  justify-content: space-between;
  border-top: 1px dashed black;
}
.pokemon-nav1 {
  cursor: pointer;
  user-select: none;
  color: blue;
}
.pokemon-nav1:hover,
.pokemon-nav2:hover {
  text-decoration: underline;
}
.pokemon-nav2 {
  cursor: pointer;
  user-select: none;
  color: blue;
}
.pokemon-nav1--disabled {
  visibility: hidden;
}
.pokemon-nav2--disabled {
  visibility: hidden;
}
.header-img {
  width: 70px;
  height: 70px;
}
.pokemon-img {
  width: 250px;
  height: 250px;
}
.pokemon-img2 {
  width: 150px;
  height: 150px;
}
