html {
  height: 100%;
  width: 100%;
}
body {
  height: 100;
  width: 100%;
  background-color: lightblue;
}
h1 {
  text-align: center;
  text-decoration: none;
}
.button-class {
  background-color: #065d93;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  margin: 4px 2px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  width: 50%;
  border-radius: 5px;
}
.button-class:active {
  opacity: 80%;
}
ul {
  list-style: none;
}
